.dashboard-full {
  background: #0b1e4f; /* Blue background */
  color: #fff;
  height: 100vh;
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
}

.subjects-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.subject-card {
  background: #ffffff10;
  padding: 1.5rem;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s, background 0.2s;
  width: 200px;
  text-align: center;
}

.subject-card:hover {
  transform: scale(1.1);
  background: #ffffff20;
}

.subject-card h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.subject-card p {
  font-size: 1rem;
}
